@page "/typerush"
@inject IJSRuntime JsRuntime
@inject ILogger<Leaderboard> logger
@inject IWebHostEnvironment Env

<PageTitle>TypeRush</PageTitle>

@* @if (!GameStarted && !GameFinished)
{
    <div class="game-box">
        <button @onclick="StartCountdown" class="start-button">Start Game</button>
    </div>

    @if (Countdown > 0)
    {
        <p class="countdown">Game starts in: @Countdown</p>
    }
}
else if (GameStarted && !GameFinished)
{
    <div class="game-box">
        <p class="target-text">@TextToType</p>
        <input type="text" @bind="UserInput" @onkeydown="HandleKeyDown" class="input-box" />
    </div>
}
else
{
    <div class="game-box">
        <h4>Game Over!</h4>
        <p>Total Time: @GameTimeElapsed seconds</p>
        <p>Errors: @Errors</p>

        <form @onsubmit="SubmitScore">
            <label for="name">Name (required):</label>
            <input type="text" id="name" @bind="PlayerName" required class="input-box"/>

            <label for="class">Class (optional):</label>
            <input type="text" id="class" @bind="PlayerClass" class="input-box"/>

            <button type="submit" class="submit-button">Submit Score</button>
        </form>
    </div>
} *@

<main class="main">
    <h1>TypeRush</h1>
    <hr />
    <p style="height: 25px;"></p>

    <div class="text-box" contenteditable="false">
        @textToType
    </div>

    <p style="height: 25px;"></p>

    <input id="UserInputBox" class="input-box" type="text" @onkeydown="HandleKeyDown" disabled="@InputDiasbled" />

    <div class="game-box" hidden="@StartButtonDiasbled">
        <p style="height: 40px;"></p>
        <button @onclick="StartCountdown" class="start-button">Start Game</button>
    </div>

    <div class="game-box" hidden="@CountdownBoxDisabled">
        <p style="font-family: Arial Black; font-size: 150px;">@countdown</p>
    </div>

</main>

